<app-navheader></app-navheader>

<div class="d-flex justify-content-center" style="margin-top: 10%;">

  <div class="card" style="width: 18rem;margin: 10px;" [routerLink]="['/createuser']">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Create User</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <i class="fa fa-regular fa-user-plus"></i>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin: 10px;" [routerLink]="['/manageuser']">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Manage User</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <i class="fa fa-regular fa-user"></i>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin: 10px;" [routerLink]="['/viewmap']">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">View Map</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <i class="fa fa-regular fa-map"></i>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin: 10px;" [routerLink]="['/login']">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Logout</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <i class="fa fa-sign-out"></i>
    </div>
  </div>


</div>


<app-footer></app-footer>


<router-outlet></router-outlet>
